<h2><a href="https://github.com/Tiphereth-A/Tiphereth-A.github.io/blob/master/source/_posts/draft-003.md">仓库源文</a>，<a href="https://tifa-233.com/draft-003">站点原文</a></h2>
<hr/>
<p>title: 随笔 - C 语言中的"操作符" "--&gt;"
categories:</p>
<ul>
<li>随笔</li>
<li>C
tags:</li>
<li>C</li>
<li>随笔</li>
<li>操作符
date: 2020-06-22 09:33:45</li>
</ul>
<hr/>
<p>在 <a href="https://stackoverflow.com/questions/1642028/what-is-the-operator-in-c">https://stackoverflow.com/questions/1642028/what-is-the-operator-in-c</a> 看到个好玩的东西</p>
<p>&lt;!-- more --&gt;</p>
<p>{% include_code lang:c draft-003/1.c %}</p>
<p>这段代码的输出是</p>
<pre><code class="language-text">9 8 7 6 5 4 3 2 1 0
</code></pre>
<p>这里的<code>--&gt;</code>看起来就像操作符一样</p>
<p>实际上<code>while (x --&gt; 0)</code>的意义是<code>while ((x--) &gt; 0)</code></p>
<p>类似的, 我们还可以写出 <code>while (x ----&gt; 0)</code> -&gt; <code>8 6 4 2 0</code></p>
<p>我们也可以一定程度上假装用 <code>C</code> 写 <code>Pascal</code> 程序</p>
<p>{% include_code lang:c draft-003/2.c %}</p>
