<h2><a href="https://github.com/Tiphereth-A/Tiphereth-A.github.io/blob/master/source/_posts/draft-016.md">仓库源文</a>，<a href="https://tifa-233.com/draft-016">站点原文</a></h2>
<hr/>
<p>title: 随笔 - C 语言宏定义的一些进阶操作
categories:</p>
<ul>
<li>随笔</li>
<li>C
tags:</li>
<li>C</li>
<li>随笔</li>
<li>宏</li>
<li>数学</li>
<li>排列</li>
<li>全排列</li>
<li>Cartesian积
date: 2021-11-04 20:21:45</li>
</ul>
<hr/>
<p>众所周知, C 中宏定义是几乎图灵完备的, 所以我们可以整些花活, 比如:</p>
<ul>
<li>生成全排列</li>
<li>生成 Cartesian 积 (Descartes 积)</li>
</ul>
<p>&lt;!-- more --&gt;</p>
<h2>一些工具宏</h2>
<p>&lt;details open&gt;
&lt;summary&gt;&lt;font color='orange'&gt;Show code&lt;/font&gt;&lt;/summary&gt;</p>
<p>{% include_code lang:c draft-016/SEL4.c %}`</p>
<p>&lt;/details&gt;</p>
<p>其中 <code>SEL4</code> 是取出前 4 个元素, <code>RM4</code> 是删除前 4 个元素</p>
<p>这样我们便可以通过这两个宏的嵌套来取出我们想要的一段连续元素了</p>
<h2>生成排列与全排列</h2>
<p>首先我们定义这样的宏</p>
<p>&lt;details open&gt;
&lt;summary&gt;&lt;font color='orange'&gt;Show code&lt;/font&gt;&lt;/summary&gt;</p>
<p>{% include_code lang:c draft-016/P4.c %}`</p>
<p>&lt;/details&gt;</p>
<p>则 <code>P4(a, b, c, d)</code> 即为 <code>a, b, c, d</code> 的全排列</p>
<p>效果如下 (为了方便查看, 每 4 个元素后均插入了 <code>|</code>, 每 12 个元素后均插入了换行符)</p>
<p>&lt;details open&gt;
&lt;summary&gt;&lt;font color='orange'&gt;Show code&lt;/font&gt;&lt;/summary&gt;</p>
<pre><code class="language-text">P4(a, b, c, d)
=&gt;
a, b, c, d, | b, a, c, d, | b, c, a, d,
c, b, a, d, | c, a, b, d, | a, c, b, d,
b, c, d, a, | c, b, d, a, | c, d, b, a,
d, c, b, a, | d, b, c, a, | b, d, c, a,
c, d, a, b, | d, c, a, b, | d, a, c, b,
a, d, c, b, | a, c, d, b, | c, a, d, b,
d, a, b, c, | a, d, b, c, | a, b, d, c,
b, a, d, c, | b, d, a, c, | d, b, a, c
</code></pre>
<p>&lt;/details&gt;</p>
<p>如何得到 4 个元素中取 3 个元素得到的所有排列呢</p>
<p>只需要稍加修改</p>
<p>&lt;details open&gt;
&lt;summary&gt;&lt;font color='orange'&gt;Show code&lt;/font&gt;&lt;/summary&gt;</p>
<p>{% include_code lang:c draft-016/P4_3.c %}`</p>
<p>&lt;/details&gt;</p>
<h2>生成 Cartesian 积</h2>
<p>这个就相对好理解一些</p>
<p>&lt;details open&gt;
&lt;summary&gt;&lt;font color='orange'&gt;Show code&lt;/font&gt;&lt;/summary&gt;</p>
<p>{% include_code lang:c draft-016/CPROD3_4.c %}`</p>
<p>&lt;/details&gt;</p>
<p><code>CPROD3_4(a, b, c, d)</code> 即为 $(a,b,c,d)\oplus(a,b,c,d)\oplus(a,b,c,d)$</p>
<p>效果如下 (为了方便查看, 每 3 个元素后均插入了 <code>|</code>, 每 12 个元素后均插入了换行符)</p>
<p>&lt;details open&gt;
&lt;summary&gt;&lt;font color='orange'&gt;Show code&lt;/font&gt;&lt;/summary&gt;</p>
<pre><code class="language-text">CPROD3_4(a, b, c, d)
=&gt;
a, a, a, | b, a, a, | c, a, a, | d, a, a,
a, b, a, | b, b, a, | c, b, a, | d, b, a,
a, c, a, | b, c, a, | c, c, a, | d, c, a,
a, d, a, | b, d, a, | c, d, a, | d, d, a,
a, a, b, | b, a, b, | c, a, b, | d, a, b,
a, b, b, | b, b, b, | c, b, b, | d, b, b,
a, c, b, | b, c, b, | c, c, b, | d, c, b,
a, d, b, | b, d, b, | c, d, b, | d, d, b,
a, a, c, | b, a, c, | c, a, c, | d, a, c,
a, b, c, | b, b, c, | c, b, c, | d, b, c,
a, c, c, | b, c, c, | c, c, c, | d, c, c,
a, d, c, | b, d, c, | c, d, c, | d, d, c,
a, a, d, | b, a, d, | c, a, d, | d, a, d,
a, b, d, | b, b, d, | c, b, d, | d, b, d,
a, c, d, | b, c, d, | c, c, d, | d, c, d,
a, d, d, | b, d, d, | c, d, d, | d, d, d
</code></pre>
<p>&lt;/details&gt;</p>
